
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation/SansationRegular.eot');
    src: url('fonts/Sansation/SansationRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sansation/SansationRegular.woff2') format('woff2'),
        url('fonts/Sansation/SansationRegular.woff') format('woff'),
        url('fonts/Sansation/SansationRegular.ttf') format('truetype'),
        url('fonts/Sansation/SansationRegular.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Brick Sans';
    src: url('fonts/BrickSans/BrickSansBold.eot');
    src: url('fonts/BrickSans/BrickSansBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BrickSans/BrickSansBold.woff2') format('woff2'),
        url('fonts/BrickSans/BrickSansBold.woff') format('woff'),
        url('fonts/BrickSans/BrickSansBold.ttf') format('truetype'),
        url('fonts/BrickSans/BrickSansBold.svg#BrickSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrix Antiqua';
    src: url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.eot');
    src: url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.woff2') format('woff2'),
        url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.woff') format('woff'),
        url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.ttf') format('truetype'),
        url('fonts/BeatrixAntiqua/BeatrixAntiqua-Bold.svg#BeatrixAntiqua-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

